:root {
    --color-main-dark: #070707;
    --color-main-light: #ffffff;
    --color-white-translucent: rgba(255, 255, 255, 0.2);
    --color-black: #000000;
    --color-light-gray: #e2e6ee;
    --color-dark-gray: #2f2f2f;
}